[Unit]
Description=Upload UniFi Controller backup files
Requires=upload-unifi-controller-backups.service

[Timer]
Unit=upload-unifi-controller-backups.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target