[Unit]
Description=Upload UniFi Controller backup files
Wants=upload-unifi-controller-backups.timer

[Service]
Type=oneshot
User=ties
ExecStart=/usr/local/bin/upload-unifi-backups.sh

[Install]
WantedBy=multi-user.target